
body {
    height: 100%;
}
.slider::-webkit-slider-thumb {
    background: #575252;
    width: 5px;
}

.slider::-moz-range-thumb {
    background: #ffffff ;
    width: 5px;
}

.slider {
    position: relative;
    margin-left: 10px;
}

.slider#higher {
    top: -30px;
}

.slider.red {
    background: linear-gradient(to right, rgb(0,0,0) , rgb(255,0,0) );
}

.slider.green {
    background: linear-gradient(to right, rgb(0,0,0) , rgb(0,255,0) );
}

.slider.blue {
    background: linear-gradient(to right, rgb(0,0,0) , rgb(0,0,255) );
}

.slidecontainer {
    width: 33%;
    display: inline-block;
    padding: 0px;
}

#img-container {
    width: 250px;
    height: 250px;
    text-align: center;
}
#morphed-container {
    width: 550px;
    height: 275px;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 15px 5px;
}

#select-image {
    width: 25%;
    padding-right: 2%;
    float: left;
    position: fixed;
    height: 100%;
}

#results {
    margin-top: 25px;
    margin-left: 27%;
    width: 70%;
    float: left;
    overflow: auto;
    z-index: 10;
}

#mask, #dilateerode {
    float: left;
    width: 50%;
    z-index: 10;
}

#dilateerode{
    padding-right: 10px;
}

.slider.morph {
    width: 65%;
    margin-right: 10px;
    float: right;
}

div#morphological-operations h4 {
    margin-top: 100px;
    padding-top: 250px;
}